{% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'stats/countries_stylesheet.css' %}" />
<title>Dota 2 Stats :: Countries</title>
<h1>Countries</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<table>
  <tr>
    <th>Country</th>
    <th></th>
  </tr>
  {% for country in countries_list %}
	<tr>
		<!--<td><img alt="{{country.countryName}}" src="{{country.flag_url}}" title="{{country.countryName}}"/></td>-->
    <td><i class="country_sprite {{country.countryCode_sprite}}"/></td>   	
    	<td>{{country.countryCode}}</td>
    	<td>{{country.countryName}}</td>
  	</tr>
{% endfor %}
</table>