<title>Dota 2 Stats :: {{personaname}} Match History</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'stats/style.css' %}" />
<script type="text/javascript" src="{% static 'stats/jquery-latest.js' %}"></script> 
<script type="text/javascript" src="{% static 'stats/jquery.tablesorter.js' %}"></script> 
<script type="text/javascript">
	$(document).ready(function() 
	    { 
	        $("#matches").tablesorter(); 
	    } 
	); 
</script>
{{account_id}}
<h1>{{account_id}} Heroes</h1>
<a href="/stats/logout">Not you? Logout</a>
<br>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<table id = "matches" class="tablesorter">
	<thead>
	<tr>
          	<th>
          		Hero
          	</th>
          	<th>
            	
          	</th>
          	<th>
            	Matches
          	</th>
          	<th>
            	Wins
          	</th>
          	<th>
            	Loses
          	</th>
          	<th>
            	Winrate
          	</th>
        </tr>
       </thead>
       <tbody>
{% for hero in hero_list %}
	<tr class="matchesxplayerrow" onclick="location.href='{% url 'player:herodetail' hero.account_id hero.id %}'">
	    <td class="centerText"> {{ hero.localized_name }} </td>
	    <td class="centerText"> <img style="border:thin solid black;" alt="{{hero.localized_name}}" src="{{hero.small_horizontal_portrait_uri}}" title="{{hero.localized_name}}"/> </td>
	    <td class="centerText"> {{ hero.matches }} </td>	    
	    <td class="centerText"> {{ hero.wins }}</td>
	    <td class="centerText"> {{ hero.loses }}</td>
	    <td class="centerText"> {{ hero.winrate }}% </td>
	</tr>
{% endfor %}
</tbody>
</table>