{% load staticfiles %}
	<link rel="stylesheet" type="text/css" href="{% static 'stats/heroes_stylesheet.css' %}" />
<title>Dota 2 Stats :: Heroes</title>
<h1>Heroes</h1>

{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<table>
  <tr>
    <th>Hero</th>
    <th></th>
  </tr>
   {% for hero in heroes_list %}
    <tr>
      <td><a href="{{hero.hero_url}}"><i class="hero_sprite {{hero.name}}"></i></a></td>
      <td><a href="{{hero.hero_url}}">{{hero.localized_name}}</a></td>
    </tr>
{% endfor %}
</table>