<title>Dota 2 Stats :: {{personaname}} Match History</title>
{% load staticfiles %}
  <link rel="stylesheet" type="text/css" href="{% static 'stats/style.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'stats/heroes_stylesheet.css' %}" />
<script type="text/javascript" src="{% static 'stats/jquery-latest.js' %}"></script> 
<script type="text/javascript" src="{% static 'stats/jquery.tablesorter.js' %}"></script> 
<script type="text/javascript">
	$(document).ready(function() 
	    { 
	        $("#matches").tablesorter(); 
	    } 
	); 
</script>
<h1>{{personaname}} Matches</h1>
<a href="/stats/logout">Not you? Logout</a>
<br>
<a href="{% url 'player:winrate' account_id %}">Winrate</a>  <a href="{% url 'player:heroesxplayer' account_id %}">Heroes</a>
<br>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<table id = "matches" class="tablesorter">
	<thead>
	<tr>
          	<th>
          		Match
          	</th>
          	<th>
            	Hero
          	</th>
          	<th>
            	Result
          	</th>
          	<th>
            	Duration
          	</th>
          	<th>
            	Kills
          	</th>
          	<th>
            	Deaths
          	</th>
          	<th>
            	Assists
          	</th>
        </tr>
       </thead>
       <tbody>
{% for match in match_list %}
	<tr class="matchesxplayerrow" onclick="location.href='{% url 'player:match' match.match_id %}'">
	    <td class="centerText"> {{ match.match_id }} </td>
	    <td class="centerText"> <i class="hero_sprite {{match.hero_img}}"></td>
	    <td class="centerText"> {{match.result}} </td>
	    <td class="centerText"> {{match.duration}} </td>
	    <td class="centerText"> {{match.kills}}</td>
	    <td class="centerText"> {{match.deaths}}</td>
	    <td class="centerText"> {{match.assists}} </td>
	</tr>
{% endfor %}
</tbody>
</table>