{% load staticfiles %}
<!DOCTYPE HTML>
<html>
<title>Dota 2 Stats :: Match {{match.match_id}}</title>
<link rel="shortcut icon" href="http://media.steampowered.com/apps/dota2/images/favicon.ico" />
<link rel="stylesheet" type="text/css" href="{% static 'stats/style.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stats/heroes_stylesheet.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stats/abilities_stylesheet.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stats/items_stylesheet.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static 'stats/countries_stylesheet.css' %}" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
<script type="text/javascript" src="{% static 'stats/jquery.tablesorter.js' %}"></script>
<script type="text/javascript" src="{% static 'stats/jquery.tablesorter.staticrow.min.js' %}"></script>
<script type="text/javascript">
	$(document).ready(function() 
	    { 
	        $("#match").tablesorter({ widgets: ['staticRow'] }); 
	    } 
	); 
</script>

<h1>{{ match.match_id }}</h1>

{% if match.players_list %}
    <a href="http://dotabuff.com/matches/{{match.match_id}}">Match on Dotabuff</a>
    <a href="http://dotamax.com/match/detail/{{match.match_id}}/">Match on Dotamax</a>
	<table>
		<tr>
          	<th>Date</th>
          	<th>Lobby</th>
          	<th>Game Mode</th>
          	<th>Winner</th>
          	<th>Duration</th>
          	<th>Location</th>
        </tr>
        <tr>
          	<td class="centerText">
          		{{match.start_time_datetime}}
          	</td>
          	<td class="centerText">
            	{{match.lobby_type}}
          	</td>
          	<td class="centerText">
            	{{match.game_mode}}
          	</td>
          	<td class="centerText">
          	{% if match.radiant_win %}
            	Radiant
            {% else %}
            	Dire
            {% endif %}
          	</td>
          	<td class="centerText">
            	{{match.duration}}
          	</td>
          	<td class="centerText">
          		{{match.cluster}}
          	</td>
        </tr>
	</table>
	<ul>
	<table id="match" class="tablesorter">
		<thead>
			<tr>
		        <th>Player</th>
		        <th>Hero</th>
		        <th>Level</th>
		        <th>Kills</th>
		        <th>Deaths</th>
		        <th>Assists</th>
		        <th>Last Hits</th>
		        <th>Denies</th>
		        <th>GPM</th>
		        <th>XPM</th>
		        <th>Hero Damage</th>
		        <th>Hero Healing</th>
		        <th>Tower Damage</th>
		        <th>Items</th>
		        <th>Abilities</th>    	
	        </tr>
	    </thead>
        <tbody>
		{% for player in match.players_list %}
			{% if player.personaname == 'Radiant Totals' or player.personaname == 'Dire Totals' %}
				<tr class="static {{player.radiant|yesno:"matchesxplayerrowradiant,matchesxplayerrowdire"}}">
			{% else %}
		   		<tr class={{player.radiant|yesno:"matchesxplayerrowradiant,matchesxplayerrowdire"}} onclick="location.href='{% if players.account_id != None and player.account_id|slugify not in invalid_account_ids %}{% url 'player:matchesxplayer' player.account_id %}{% endif %}'">
		   	{% endif %}
			    <td class="leftText">
			    	<ul id="list">
				    	{% if player.avatar %}
				    		<li><img style="border:thin solid black;" alt="{{player.personaname}}" src="{{player.avatar}}" title="{{player.personaname}}"/></li>
				    	{% elif player.personaname != 'Totals' %}
				    		<li><img style="border:thin solid black;" alt="{{player.personaname}}" src="{{match.anon_img}}" title="{{player.personaname}}"/></li>
				    	{% endif %}
			          	<li>{{player.personaname}}</li>
			          	{% if player.country and player.flag %}
			          		<li><i class="country_sprite {{player.flag}}"></i></li>
			          	{% endif %}
		          	</ul>
		        </td>
		        <td class="centerText">
		        	{% if player.hero_name %}
		            	<i class="hero_sprite sprite-{{player.hero_name}}_sb"></i>
		            {% endif %}
		        </td>
		        <td class="centerText">
		           	{{player.level}}
		        </td>
		        <td class="centerText">
		            {{player.kills}}
		        </td>
		        <td class="centerText">
		           	{{player.deaths}}
		        </td>
		        <td class="centerText">
		            {{player.assists}}
		        </td>
		        <td class="centerText">
		            {{player.last_hits}}
		        </td>
	          	<td class="centerText">
	            	{{player.denies}}
	          	</td>
	          	<td class="centerText">
	            	{{player.gold_per_min}}
	          	</td>
	          	<td class="centerText">
	            	{{player.xp_per_min}}
	          	</td>
	          	<td class="centerText">
	            	{{player.hero_damage}}
	          	</td>
	          	<td class="centerText">
	            	{{player.hero_healing}}
	          	</td>
	          	<td class="centerText">
	            	{{player.tower_damage}}
	          	</td>
	          	<td>
	            	<ul id="list">
		            	{% if player.item_0_name %}<li><i class="item_sprite sprite-{{player.item_0_name}}_lg"></i></li>{% endif %}
		            	{% if player.item_1_name %}<li><i class="item_sprite sprite-{{player.item_1_name}}_lg"></i></li>{% endif %}
		            	{% if player.item_2_name %}<li><i class="item_sprite sprite-{{player.item_2_name}}_lg"></i></li>{% endif %}
		            	{% if player.item_3_name %}<li><i class="item_sprite sprite-{{player.item_3_name}}_lg"></i></li>{% endif %}
		            	{% if player.item_4_name %}<li><i class="item_sprite sprite-{{player.item_4_name}}_lg"></i></li>{% endif %}
		            	{% if player.item_5_name %}<li><i class="item_sprite sprite-{{player.item_5_name}}_lg"></i></li>{% endif %}
		            </ul>
	          	</td>
	          	<td>
	          		<ul id="list">
			        	{% for a in player.abilities %}
				    		<li>{% if a != None %}
				    			<i class="ability_sprite sprite-{{a}}_hp1"></i>
				    			{% endif %}
				    		<li>
				    	{% endfor %}		        
			    	</ul>
		       	</td>
			</tr>
	    {% endfor %}
	    </tbody>
    </ul>
	</table>
		
	<img src="{{match.gmap_img}}">
	<p></p>
	<div id="xpcontainer" style="float:left; height: 400px; width: 1024px; margin: 0 auto"></div>
	<div id="vscontainer" style="float:left; height: 400px; width: 1024px; margin: 0 auto"></div>
	<div id="radiantcontainer" style="float:left; height: 400px; width: 1024px; margin: 0 auto"></div>
	<div id="direcontainer" style="float:left; height: 400px; width: 1024px; margin: 0 auto"></div>



<!-- Difference-->
<script type="text/javascript">
$(function () {
        $('#xpcontainer').highcharts({
            chart: {
                type: 'area'
            },
            title: {
                text: 'Match Experience Difference'
            },
            yAxis: {
                title: {
                	text: 'Experience'
                }
            },
            xAxis: {
                categories: {{match.categoriesxp | safe }},
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Difference',
                data: {{match.matchxp}},
                color: '#99CD32',
            	negativeColor: '#FF3F0F'
            }],
	            plotOptions: {
	                area: {
	                    marker: {
	                    	enabled : false,
	                        lineWidth: 1,
	                    }
	                }
	            }
        });
    });
</script>
<!-- Radiant vs Dire -->
<script type="text/javascript">
$(function () {
        $('#vscontainer').highcharts({
            chart: {
                type: 'line'
            },
            title: {
                text: 'Radiant Vs. Dire Total Experience'
            },
            yAxis: {
                title: {
                	text: 'Experience'
                }
            },
            xAxis: {
                categories: {{match.categoriesxp | safe }},
            },
            credits: {
                enabled: false
            },
            series: [{
                name: 'Radiant',
                data: {{match.vsxp.0}},
                color: '#99CD32'
            },
            {
                name: 'Dire',
                data: {{match.vsxp.1}},
                color: '#FF3F0F'
            }],
            plotOptions: {
		    line: {
		        marker: {
		            enabled: false
		        	}
		    	}
			}
        });
    });
</script>

<!--Radiant EXP -->
<script type="text/javascript">
	$(function () {
	        $('#radiantcontainer').highcharts({
	            chart: {
	                type: 'area'
	            },
	            title: {
	                text: 'Radiant Total Experience'
	            },
	            xAxis: {
	                categories: {{match.categoriesxp | safe }},
	                tickmarkPlacement: 'on',
	                title: {
	                    enabled: false
	                }
	            },
	            yAxis: {
	                title: {
	                    text: 'Percent'
	                }
	            },
	            credits: {
                	enabled: false
            	},
	            tooltip: {
	                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.percentage:.1f}%</b> ({point.y:,.0f})<br/>',
	                shared: true
	            },
	            plotOptions: {
	                area: {
	                    stacking: 'percent',
	                    lineWidth: 1,
	                    marker: {
	                    	enabled : false,
	                        lineWidth: 1,
	                    }
	                }
	            },
	            colors: ['#2E6AE6', '#5DE6AD', '#AD00AD', '#DCD90A', '#E66200'],
	            series: [{
	                name: '{{match.hero_list.0}}',
	                data: {{match.playerxp.0}}
	            }, {
	                name: '{{match.hero_list.1}}',
	                data: {{match.playerxp.1}}
	            }, {
	                name: '{{match.hero_list.2}}',
	                data: {{match.playerxp.2}}
	            }, {
	                name: '{{match.hero_list.3}}',
	                data: {{match.playerxp.3}}
	            }, {
	                name: '{{match.hero_list.4}}',
	                data: {{match.playerxp.4}}
	            }]
	        });
	    });
</script>

<!--Dire EXP -->
<script type="text/javascript">
	$(function () {
	        $('#direcontainer').highcharts({
	            chart: {
	                type: 'area'
	            },
	            title: {
	                text: 'Dire Total Experience'
	            },
	            xAxis: {
	                categories: {{match.categoriesxp | safe }},
	                tickmarkPlacement: 'on',
	                title: {
	                    enabled: false
	                }
	            },
	            yAxis: {
	                title: {
	                    text: 'Percent'
	                }
	            },
	            credits: {
                	enabled: false
            	},
	            tooltip: {
	                pointFormat: '<span style="color:{series.color}">{series.name}</span>: <b>{point.percentage:.1f}%</b> ({point.y:,.0f})<br/>',
	                shared: true
	            },
	            plotOptions: {
	                area: {
	                    stacking: 'percent',
	                    lineWidth: 1,
	                    marker: {
	                    	enabled : false,
	                        lineWidth: 1,
	                    }
	                }
	            },
	            colors: ['#E67AB0', '#92A440', '#5CC5E0', '#00771F', '#956000'],
	            series: [{
	               name: '{{match.hero_list.5}}',
	                data: {{match.playerxp.5}}
	            }, {
	                name: '{{match.hero_list.6}}',
	                data: {{match.playerxp.6}}
	            }, {
	                name: '{{match.hero_list.7}}',
	                data: {{match.playerxp.7}}
	            }, {
	                name: '{{match.hero_list.8}}',
	                data: {{match.playerxp.8}}
	            }, {
	                name: '{{match.hero_list.9}}',
	                data: {{match.playerxp.9}}
	            }]
	        });
	    });
</script>
<script type="text/javascript" src="{% static 'stats/highcharts.js' %}"></script>
<script type="text/javascript" src="{% static 'stats/exporting.js' %}"></script>


{% else %}
	<p>Match not found!</p>
{% endif %}
</html>