<title>Dota 2 Stats</title>
{% load staticfiles %}
<link rel="stylesheet" type="text/css" href="{% static 'stats/style.css' %}" />
{% if user.is_authenticated %}
	{{user}} <a href="/stats/logout">Not you? Logout</a>
{% else %}
	<a href="{% url 'socialauth_begin' 'steam' %}"><img alt="Login with Steam" src="http://cdn.steamcommunity.com/public/images/signinthroughsteam/sits_small.png"/></a>
{% endif %}

<form action ="{% url 'player:getPlayer' %}" method="post">
{% csrf_token %}
	<table>
		<tr>
          	<td>
          		<input type="text" name="account_id">
          	</td>
          	<td>
            	<input type="submit">
          	</td>
        </tr>
    </table>
</form>
<a href='/stats/items'>Items</a> <a href='/stats/abilities'>Abilities</a> <a href='/stats/countries'>Countries</a> <a href='/stats/heroes'>Heroes</a>
{% if players_list %}
    {% for player in players_list %}
        <li><a href="{% url 'player:matchesxplayer' player.account_id %}">{{ player.personaname }}</a></li>
    {% endfor %}
{% else %}
    <p>No matches are available.</p>
{% endif %}