{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
	<link rel="shortcut icon" href="http://media.steampowered.com/apps/dota2/images/favicon.ico" />
	<link type="text/css" rel="stylesheet" href="{% static 'stats/style.css' %}" />
	<title>Dota 2 Stats :: {{playerdata.personaname}} Winrate </title>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="//www.google.com/jsapi"></script>
    <script type="text/javascript">
      google.load('visualization', '1', {packages: ['corechart']});
    </script>
    <script type="text/javascript">
      function drawVisualization() {
        // Create and populate the data table.
        var data_from_db = {{playerdata.plot_data|safe}}
        var data = google.visualization.arrayToDataTable(data_from_db);
      	
        // Create and draw the visualization.
        new google.visualization.AreaChart(document.getElementById('winrate_visualization')).
            draw(data, {colors: ['green'],
            			curveType: 'function',
            			width: 1400, height: 400,
                        vAxis: {maxValue: 100,
                        		minValue: 0},
                        title: 'Winrate (%)'}
                );
      }     

      google.setOnLoadCallback(drawVisualization);
    </script>
  </head>

  <body>
  	<a href="{% url 'player:matchesxplayer' playerdata.account_id %}">Go back to {{playerdata.personaname}}'s profile</a>
  	<form action ="{% url 'player:getWinratebynummatches' playerdata.account_id %}" method="post">
		{% csrf_token %}
		<table>
			<tr>
				<td>
	          		Only the last 
	          	</td>
	          	<td>
	          		<input type="text" name="num_matches"> matches
	          	</td>
	          	<td>
	            	<input type="submit">
	          	</td>
	        </tr>
	    </table>
	</form>
    <br><p>Total Matches: {{playerdata.total_matches}} Win Streak:  {{playerdata.win_streak}} - Lose Streak: {{playerdata.lose_streak}}</p>
    <div id="winrate_visualization" style="width:1400px; height:400px"/>    
  </body>
</html>
