.hero_sprite {
    background-image: url(/static/stats/heroes_spritesheet.png);
    background-repeat: no-repeat;
    display: block;
    border: 1px solid #ddd;
}

.sprite-abaddon_sb {
    width: 59px;
    height: 33px;
    background-position: 0 0;
}

.sprite-alchemist_sb {
    width: 59px;
    height: 33px;
    background-position: -59px 0;
}

.sprite-ancient_apparition_sb {
    width: 59px;
    height: 33px;
    background-position: -118px 0;
}

.sprite-antimage_sb {
    width: 59px;
    height: 33px;
    background-position: -177px 0;
}

.sprite-axe_sb {
    width: 59px;
    height: 33px;
    background-position: -236px 0;
}

.sprite-bane_sb {
    width: 59px;
    height: 33px;
    background-position: -295px 0;
}

.sprite-batrider_sb {
    width: 59px;
    height: 33px;
    background-position: -354px 0;
}

.sprite-beastmaster_sb {
    width: 59px;
    height: 33px;
    background-position: 0 -33px;
}

.sprite-bloodseeker_sb {
    width: 59px;
    height: 33px;
    background-position: -59px -33px;
}

.sprite-bounty_hunter_sb {
    width: 59px;
    height: 33px;
    background-position: -118px -33px;
}

.sprite-brewmaster_sb {
    width: 59px;
    height: 33px;
    background-position: -177px -33px;
}

.sprite-bristleback_sb {
    width: 59px;
    height: 33px;
    background-position: -236px -33px;
}

.sprite-broodmother_sb {
    width: 59px;
    height: 33px;
    background-position: -295px -33px;
}

.sprite-centaur_sb {
    width: 59px;
    height: 33px;
    background-position: -354px -33px;
}

.sprite-chaos_knight_sb {
    width: 59px;
    height: 33px;
    background-position: 0 -66px;
}

.sprite-chen_sb {
    width: 59px;
    height: 33px;
    background-position: -59px -66px;
}

.sprite-clinkz_sb {
    width: 59px;
    height: 33px;
    background-position: -118px -66px;
}

.sprite-crystal_maiden_sb {
    width: 59px;
    height: 33px;
    background-position: -177px -66px;
}

.sprite-dark_seer_sb {
    width: 59px;
    height: 33px;
    background-position: -236px -66px;
}

.sprite-dazzle_sb {
    width: 59px;
    height: 33px;
    background-position: -295px -66px;
}

.sprite-death_prophet_sb {
    width: 59px;
    height: 33px;
    background-position: -354px -66px;
}

.sprite-disruptor_sb {
    width: 59px;
    height: 33px;
    background-position: 0 -99px;
}

.sprite-doom_bringer_sb {
    width: 59px;
    height: 33px;
    background-position: -59px -99px;
}

.sprite-dragon_knight_sb {
    width: 59px;
    height: 33px;
    background-position: -118px -99px;
}

.sprite-drow_ranger_sb {
    width: 59px;
    height: 33px;
    background-position: -177px -99px;
}

.sprite-earth_spirit_sb {
    width: 59px;
    height: 33px;
    background-position: -236px -99px;
}

.sprite-earthshaker_sb {
    width: 59px;
    height: 33px;
    background-position: -295px -99px;
}

.sprite-elder_titan_sb {
    width: 59px;
    height: 33px;
    background-position: -354px -99px;
}

.sprite-ember_spirit_sb {
    width: 59px;
    height: 33px;
    background-position: 0 -132px;
}

.sprite-enchantress_sb {
    width: 59px;
    height: 33px;
    background-position: -59px -132px;
}

.sprite-enigma_sb {
    width: 59px;
    height: 33px;
    background-position: -118px -132px;
}

.sprite-faceless_void_sb {
    width: 59px;
    height: 33px;
    background-position: -177px -132px;
}

.sprite-furion_sb {
    width: 59px;
    height: 33px;
    background-position: -236px -132px;
}

.sprite-gyrocopter_sb {
    width: 59px;
    height: 33px;
    background-position: -295px -132px;
}

.sprite-huskar_sb {
    width: 59px;
    height: 33px;
    background-position: -354px -132px;
}

.sprite-invoker_sb {
    width: 59px;
    height: 33px;
    background-position: 0 -165px;
}

.sprite-jakiro_sb {
    width: 59px;
    height: 33px;
    background-position: -59px -165px;
}

.sprite-juggernaut_sb {
    width: 59px;
    height: 33px;
    background-position: -118px -165px;
}

.sprite-keeper_of_the_light_sb {
    width: 59px;
    height: 33px;
    background-position: -177px -165px;
}

.sprite-kunkka_sb {
    width: 59px;
    height: 33px;
    background-position: -236px -165px;
}

.sprite-legion_commander_sb {
    width: 59px;
    height: 33px;
    background-position: -295px -165px;
}

.sprite-leshrac_sb {
    width: 59px;
    height: 33px;
    background-position: -354px -165px;
}

.sprite-lich_sb {
    width: 59px;
    height: 33px;
    background-position: 0 -198px;
}

.sprite-life_stealer_sb {
    width: 59px;
    height: 33px;
    background-position: -59px -198px;
}

.sprite-lina_sb {
    width: 59px;
    height: 33px;
    background-position: -118px -198px;
}

.sprite-lion_sb {
    width: 59px;
    height: 33px;
    background-position: -177px -198px;
}

.sprite-lone_druid_sb {
    width: 59px;
    height: 33px;
    background-position: -236px -198px;
}

.sprite-luna_sb {
    width: 59px;
    height: 33px;
    background-position: -295px -198px;
}

.sprite-lycan_sb {
    width: 59px;
    height: 33px;
    background-position: -354px -198px;
}

.sprite-magnataur_sb {
    width: 59px;
    height: 33px;
    background-position: 0 -231px;
}

.sprite-medusa_sb {
    width: 59px;
    height: 33px;
    background-position: -59px -231px;
}

.sprite-meepo_sb {
    width: 59px;
    height: 33px;
    background-position: -118px -231px;
}

.sprite-mirana_sb {
    width: 59px;
    height: 33px;
    background-position: -177px -231px;
}

.sprite-morphling_sb {
    width: 59px;
    height: 33px;
    background-position: -236px -231px;
}

.sprite-naga_siren_sb {
    width: 59px;
    height: 33px;
    background-position: -295px -231px;
}

.sprite-necrolyte_sb {
    width: 59px;
    height: 33px;
    background-position: -354px -231px;
}

.sprite-nevermore_sb {
    width: 59px;
    height: 33px;
    background-position: 0 -264px;
}

.sprite-night_stalker_sb {
    width: 59px;
    height: 33px;
    background-position: -59px -264px;
}

.sprite-nyx_assassin_sb {
    width: 59px;
    height: 33px;
    background-position: -118px -264px;
}

.sprite-obsidian_destroyer_sb {
    width: 59px;
    height: 33px;
    background-position: -177px -264px;
}

.sprite-ogre_magi_sb {
    width: 59px;
    height: 33px;
    background-position: -236px -264px;
}

.sprite-omniknight_sb {
    width: 59px;
    height: 33px;
    background-position: -295px -264px;
}

.sprite-phantom_assassin_sb {
    width: 59px;
    height: 33px;
    background-position: -354px -264px;
}

.sprite-phantom_lancer_sb {
    width: 59px;
    height: 33px;
    background-position: 0 -297px;
}

.sprite-phoenix_sb {
    width: 59px;
    height: 33px;
    background-position: -59px -297px;
}

.sprite-puck_sb {
    width: 59px;
    height: 33px;
    background-position: -118px -297px;
}

.sprite-pudge_sb {
    width: 59px;
    height: 33px;
    background-position: -177px -297px;
}

.sprite-pugna_sb {
    width: 59px;
    height: 33px;
    background-position: -236px -297px;
}

.sprite-queenofpain_sb {
    width: 59px;
    height: 33px;
    background-position: -295px -297px;
}

.sprite-rattletrap_sb {
    width: 59px;
    height: 33px;
    background-position: -354px -297px;
}

.sprite-razor_sb {
    width: 59px;
    height: 33px;
    background-position: 0 -330px;
}

.sprite-riki_sb {
    width: 59px;
    height: 33px;
    background-position: -59px -330px;
}

.sprite-rubick_sb {
    width: 59px;
    height: 33px;
    background-position: -118px -330px;
}

.sprite-sand_king_sb {
    width: 59px;
    height: 33px;
    background-position: -177px -330px;
}

.sprite-shadow_demon_sb {
    width: 59px;
    height: 33px;
    background-position: -236px -330px;
}

.sprite-shadow_shaman_sb {
    width: 59px;
    height: 33px;
    background-position: -295px -330px;
}

.sprite-shredder_sb {
    width: 59px;
    height: 33px;
    background-position: -354px -330px;
}

.sprite-silencer_sb {
    width: 59px;
    height: 33px;
    background-position: 0 -363px;
}

.sprite-skeleton_king_sb {
    width: 59px;
    height: 33px;
    background-position: -59px -363px;
}

.sprite-skywrath_mage_sb {
    width: 59px;
    height: 33px;
    background-position: -118px -363px;
}

.sprite-slardar_sb {
    width: 59px;
    height: 33px;
    background-position: -177px -363px;
}

.sprite-slark_sb {
    width: 59px;
    height: 33px;
    background-position: -236px -363px;
}

.sprite-sniper_sb {
    width: 59px;
    height: 33px;
    background-position: -295px -363px;
}

.sprite-spectre_sb {
    width: 59px;
    height: 33px;
    background-position: -354px -363px;
}

.sprite-spirit_breaker_sb {
    width: 59px;
    height: 33px;
    background-position: 0 -396px;
}

.sprite-storm_spirit_sb {
    width: 59px;
    height: 33px;
    background-position: -59px -396px;
}

.sprite-sven_sb {
    width: 59px;
    height: 33px;
    background-position: -118px -396px;
}

.sprite-techies_sb {
    width: 59px;
    height: 33px;
    background-position: -177px -396px;
}

.sprite-templar_assassin_sb {
    width: 59px;
    height: 33px;
    background-position: -236px -396px;
}

.sprite-terrorblade_sb {
    width: 59px;
    height: 33px;
    background-position: -295px -396px;
}

.sprite-tidehunter_sb {
    width: 59px;
    height: 33px;
    background-position: -354px -396px;
}

.sprite-tinker_sb {
    width: 59px;
    height: 33px;
    background-position: -413px 0;
}

.sprite-tiny_sb {
    width: 59px;
    height: 33px;
    background-position: -413px -33px;
}

.sprite-treant_sb {
    width: 59px;
    height: 33px;
    background-position: -413px -66px;
}

.sprite-troll_warlord_sb {
    width: 59px;
    height: 33px;
    background-position: -413px -99px;
}

.sprite-tusk_sb {
    width: 59px;
    height: 33px;
    background-position: -413px -132px;
}

.sprite-undying_sb {
    width: 59px;
    height: 33px;
    background-position: -413px -165px;
}

.sprite-ursa_sb {
    width: 59px;
    height: 33px;
    background-position: -413px -198px;
}

.sprite-vengefulspirit_sb {
    width: 59px;
    height: 33px;
    background-position: -413px -231px;
}

.sprite-venomancer_sb {
    width: 59px;
    height: 33px;
    background-position: -413px -264px;
}

.sprite-viper_sb {
    width: 59px;
    height: 33px;
    background-position: -413px -297px;
}

.sprite-visage_sb {
    width: 59px;
    height: 33px;
    background-position: -413px -330px;
}

.sprite-warlock_sb {
    width: 59px;
    height: 33px;
    background-position: -413px -363px;
}

.sprite-weaver_sb {
    width: 59px;
    height: 33px;
    background-position: -413px -396px;
}

.sprite-windrunner_sb {
    width: 59px;
    height: 33px;
    background-position: 0 -429px;
}

.sprite-wisp_sb {
    width: 59px;
    height: 33px;
    background-position: -59px -429px;
}

.sprite-witch_doctor_sb {
    width: 59px;
    height: 33px;
    background-position: -118px -429px;
}

.sprite-zuus_sb {
    width: 59px;
    height: 33px;
    background-position: -177px -429px;
}
